<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
  
<div class="header">
    <div class="nav-bar">
        <h1>Coffee</h1>
        <div class="nav-bar-buttons">
            <a href="">HOME</a>
            <a href="">COFFEE</a>
            <a href="">BAKERY</a>
            <a href="">SHOP</a>
            <a href="">ABOUT</a>
            <a href=""  >LOGIN</a>
        </div>
        <button class="search-button"><span class="material-symbols-outlined">search</span></button>
    </div>
    <div class="welcome-text">
        <p>Welcome!</p>
        <h1>We serve the richest coffee <br> in the city!</h1>
        <button class="order-now-button">Order Now</button>
        <h2>Your cart: {{orderedCoffee}}</h2>
    </div>  
</div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  <router-outlet />
  